/10CRUD/ArrayListPersona/nbproject/private/
/10CRUD/ArrayListPersona/build/
/10CRUD/Main/nbproject/private/
/10CRUD/Main/build/
/Main/nbproject/private/
/Main/build/
/10CRUD/Main/Main/nbproject/private/
/10CRUD/Main/Main/build/
/12Calculadora/nbproject/private/
/12Calculadora/build/
